section(class="canvas front" id="front")

    div(class="content")

        h2 Penetratr

        div

            p Your software security specialists.

            div

                a(href="#section-1") Our Story
                a(href="#section-2") Services

    +nav-1("section-1")
