section(class="canvas section-2" id="section-2")

    h2 Services

    div(class="content")

        div

            img(src="images/home/network_check.svg" inline)

            article

                h2 Network security
                p.
                    We provide detailed information on real security threats to help identify the most critical and less significant network vulnerabilities.

        div

            img(src="images/home/developer_board.svg" inline)

            article

                h2 Hardware security
                p.
                    The detailed reports generated after penetration testing help to avoid potential hardware vulnerabilities by maintaining required security controls.

        div

            img(src="images/home/headset_mic.svg" inline)

            article

                h2 Remote access security
                p.
                    Our team provides specific guidance and recommendations to avoid remote access security pitfalls by identifying and addressing risks before attacks or security breaches occur.
